.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1);
}

.location{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.pre-header{
  margin: auto;
  font-size: large;
  margin-bottom: 20px;
}
.haldii-image{
  margin-left: 350px;
}

.event-message{

  margin-bottom: 20px;
  font-size: 120%;

}

.groom-image{
  margin-left: 420px;
}

.mehendi-image{
  margin-left: 350px;
}
.event-date{
  margin: auto;
  font-size: large;
}

.haldi-image{

  margin-left: 220px;
}
.sangeet-image{
  margin-left: 420px;
}

.wedding-image{
  margin-left: 350px;
}
.haldi{

  width: 100%;
 
  background-color: white;
  padding: 100px !important;
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color:white
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}
