.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1);
}

.location{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.pre-header{
  margin: auto;
  font-size: large;
  margin-bottom: 20px;
}


.event-message{

  margin-bottom: 20px;
  font-size: 120%;

}


.event-date{
  margin: auto;
  font-size: large;
}



/* Rule for mobile screens */
@media (max-width: 768px) {
  .haldi-image{

    margin:auto;
  }
  .groom-image{
    margin:auto
  }
  .groommaking-image{
    margin:auto
  }

  .groomhaldi-image{
    margin:auto
  }
  
  .mehendi-image{
    margin:auto
  }

  .sangeet-image{
    margin:auto
  }
  
  .wedding-image{
    margin:auto;
  }

  .groommehendi-image {
    margin:auto;
  }

  .groomsangeet-image{
    margin: auto;
    height: 250px;
    width: 250px;
  }

  .haldii-image{
    margin:auto;
  }
  
  .satya-image{
    margin:auto;
    height: 250px;
    width: 220px;
  }
}

/* Rule for laptops and desktops */
@media (min-width: 1025px) {
  .haldi-image{

    margin-left:270px;
    height: 300px;
  }

  
  .satya-image{
    margin-left:300px;
    height: 300px;
  }

  .groomsangeet-image{
    margin-left:370px;
    height: 300px;
  }
  .groom-image{
    margin-left:420px;
  }

  .groomhaldi-image{
    margin-left:350px;
    height: 300px;
  }

  .groommehendi-image {
    margin-left:360px;
    height: 300px;
  }

  .groommaking-image{
    margin-left:420px;
  }
  
  .mehendi-image{
    margin-left:350px;
  }

  .sangeet-image{
    margin-left:420px;
  }
  
  .wedding-image{
    margin-left:350px;
  }

  .haldii-image{
    margin-left:350px;
  }
}



.haldi{

  width: 100%;
 
  background-color: white;
  padding: 100px !important;
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color:white
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}
